* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(assets/crew/background-crew-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    padding: 50px 5%;
}

.hr {
    height: 1px;
    width: 40vw;
    margin-left: 50px;
    background-color: rgb(146, 145, 145);
    z-index: 1;
}

.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    width: 50%;
    height: 5rem;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px);
    position: absolute;
    right: 0;
}

.nav-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 27px 40px;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    position: relative;
}

.nav-links ul li a spam {
    font-weight: bold;
    margin-right: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-links ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -33px;
    transition: 0.5s;
}

.nav-links ul li a.active::after {
    width: 100%;
    z-index: 1;
}

.nav-links ul li a:hover::after {
    width: 100%;
    background-color: rgb(146, 145, 145);
}

.body {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.left-container {
    flex-basis: 55%;
}

.right-container {
    flex-basis: 45%;
}

.left-container h1 {
    font-size: 25px;
    top: 150px;
    margin-left: 80px;
    font-weight: lighter;
    letter-spacing: 5px;
    position: absolute;
}

.h1-number {
    color: rgb(146, 145, 145);
}

.left-container p {
    margin-left: 80px;
}

.role  {
    font-size: 25px;
    letter-spacing: 3px;
    margin-top: 10px;
}

.name {
    font-size: 60px;
    margin: 15px 0 25px;
    letter-spacing: 5px;
}

.detail {
    line-height: 30px;
}

.dots {
    display: flex;
    margin-left: 80px;
    position: absolute;
    bottom: 50px;
}

.dot-links {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #979797;
    margin-right: 35px;
    cursor: pointer;
    position: relative;
}

.dot-links::after {
    content: '';
    width: 0;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 0;
}

.dot-links.active-dot::after {
    width: 100%;
}

.dot-links:hover::after {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}

.img-contents.victor-img, .img-contents.mark-img {
    margin-top: 20px;
}

.img-contents.anousheh-img{
    margin-top: 60px;
}

.dot-contents {
    display: none;
}

.dot-contents.active-content {
    display: block;
}

.img-contents {
    display: none;
}

.img-contents.active-img {
    display: block;
}
